 /*
 Dark blue rgb(68.1,84.0,106.0)
 Light blue rgb(92.0,111.6,124.6)
 Grey rgb(83.1,83.1,83.1)
 yellow rgb(75.9,75.0,71.9)
 */
 
@media screen and (min-width: 600px){
    #medium{

        display: inline;

        .text-header{
            background-color: rgb(182, 157, 82,0.9);
            text-align: center;
            margin: 0px;
            color: black;
            font-family: 'Times New Roman', serif;
        }

        .text-body{
            background-color: rgb(83.1,83.1,83.1, 0.9);
            text-align: center;
            margin: 0px;
            color: black;
            font-family: 'Times New Roman', serif;
            font-size: 20px;
            padding: 70px;
            padding-top: 93px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1fr 2fr;
        }

        .flex-container {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px;
            width: 300px;
            background-color: rgb(68.1,84.0,106.0, 0.9);
            gap: 30px;
        }
        
        .flex-container_2 {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            padding-top: 20px;
            padding-bottom: 20px;
            width: 100%;
            background-color: rgb(182, 157, 82,0.9);
            gap: 30px;
        }
        
        .img{
            border-radius: 20px;
            border: 1px solid rgb(184, 184, 184);
            box-shadow: 5px 5px 2.5px rgb(125, 125, 125);
        }

        .video{
            width: 100%;
            height: 315px;
            padding-top: 50px;
            padding-bottom: 150px;
            background-color: rgb(83.1,83.1,83.1, 0.9);
            
        }

        .az, .md, .pa, .ca, .ok{
            width: 150px;
            height: 113px;
            text-align: center ;
            font: bolder;
            padding-top: 50px;
            margin-bottom: -10px;
            background-repeat: no-repeat;
            font-size: 25px;
            color: white;
            border-radius: 10px;
        }
        
        .az{
            background-image: url(../Week3/images/phx-150.jpg);
        }
        .md{
            background-image: url(../Week3/images/Md-150.jpg);
        }
        .pa{
            background-image: url(../Week3/images/PA-150.jpg);
        }
        .ca{
            background-image: url(../Week3/images/CAL-150.jpg);
        }
        .ok{
            background-image: url(../Week3/images/ok-150.jpg);
        }

        .dropdown{
            width: 100%;
            height: 50px;
            text-align: center;
            background-color: rgb(182, 157, 82,0.9);
            color: black;
            font-size: 15px;
            font-family: 'Times New Roman', serif;
        }
    }
   
    #small{
        display: none;
    }
    #large{
        display: none;
    }

}
